<div class="header">
  <img src="assets/img/logo-small.svg" alt="" />
  <div>
    <p>Not a Join user?</p>
    <button>Sign Up</button>
  </div>
</div>
<div class="log-in">
  <div class="header-login">
    <div class="border-bottom">Log in</div>
  </div>
  <div class="input-fields">
    <input type="email" placeholder="Email" /><input
      type="password"
      placeholder="Password"
    />
  </div>
  <label class="remember-checkbox">
    <input type="checkbox" required />
    <p>Remember me</p>
  </label>
  <button type="button"></button>
  <button type="button"></button>
</div>
