<div class="header">
  <img src="assets/img/logo-small.svg" alt="" />
  <div>
    <p>Not a Join user?</p>
    <button>Sign Up</button>
  </div>
</div>
<div class="mid-container">
  <div class="log-in">
    <div class="header-login">
      <div class="border-bottom">Log in</div>
    </div>
    <div class="input-fields">
      <input type="email" placeholder="Email" class="email" /><input
        type="password"
        placeholder="Password"
        class="password"
      />
    </div>
    <label class="remember-checkbox">
      <input type="checkbox" required />
      <p>Remember me</p>
    </label>
    <div class="login-btns">
      <button type="button" class="log-in-btn">Login</button>
      <button type="button" class="guest-log-in-btn">Guest log in</button>
    </div>
  </div>
</div>
<div class="footer">
  <p>Privacy Policy</p>
  <p>Legal Notice</p>
</div>
